@charset "utf-8";

.header {
    position: absolute;
    z-index: 10;
    background-color: rgb(64, 64, 64);
    opacity: 75%;
    height: 66px;
    line-height: 66px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header a {
    display: block;
    margin-left: 25%;
}

.content1 {
    height: 750px;
    background-color: #fff;
}

.content2 {
    width: 100%;
    height: 822px;
    background-color: #f9939d;
}

.content2 img{
    display: block;
    margin: 0 auto;
}

.content3 {
    width: 100%;
    height: 1084px;
    background: url('../image/section_store.jpg') no-repeat 0 0;
}

.content3 .sub_wrap {
    display: block;
    width: 980px;
    margin: 0 auto;
}

.sub_list {
    display: inline-block;
    margin-top: 300px;
}

.sub_list:after {
    display: block;
    content: '';
    clear: both;
}

.sub_list li {
    float: left;
    width: 230px;
}

.sub_list li + li {
    margin-left: 20px;
}
.sub_list li:nth-child(4n+1) {
    margin-left: 0;
}
.sub_list img {
    border-radius: 10px;
}

.sub_list a {
    position: relative;
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 10px;
}

.dimmed{
    display: none;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(96, 132, 2);
    opacity: 90%;
    border-radius: 10px;
    font-weight: normal;
    padding-top: 50px;
}
.sub_list a p{
    font-size: 65px;
    color: #fff;
}
.sub_list a span {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}


.sub_list div {
    height: 140px;
    text-align: center;
    padding: 20px;
}

.sub_list p {
    font-size: 20px;
    color: #1b1d21;
}

.sub_list span {
    font-size: 28px;
    font-weight: bold;
    color: #1b1d21;
}

.vh {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
} 

.item_link:hover .dimmed{
    display: block;
}

.content4{
    position: relative;
    background-color: #b893f9;
    width: 100%;
    height: 1030px;
    background: url('../image/pattern_recipe.png');
    background-repeat: repeat-x;
    background-position: center;
}

.content4 ul {
    text-align: center;
}

.content4 ul img{
    margin-top: 80px;
}
.content4 li {
    position: absolute;
    top: 515px;
    display: inline-block;
}

.content4 li a {
    display: block;
    height: 100%;
}

.pic1 {
    transform: translate(-205%, -50%);
    width: 480px;
    height: 482px;
}
.pic2 {
    transform: translate(-100%, -50%);
    width: 480px;
    height: 482px;
}

.faq {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.faq h1 {
    display: block;
    text-align: center;
    padding: 25px;
}

.faq .list {
    border-top: 1px solid #a1a5ad;
    border-bottom: 1px solid #a1a5ad;
}

 .faq .list h3,
 .faq .list span {
    display: flex;
} 

.faq .list span {
    background-color: #f7f8fa;
}
.question {
    font-size: 20px;
    line-height: 28px;
    color: #1b1d21;
    padding: 25px;
    font-weight: bold;
}

.answer {
    font-size: 16px;
    color: #60656e;
    line-height: 28px;
    padding: 25px;
}

button{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer
}

.footer {
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #e0e4eb;
    font-size: 18px;
    color: #70757d;
}

.content4 ul {
    display: block;
}

.recipe {
    display: inline;
}

body{
    position: relative;
}
.top_btn {
    position: absolute;
    z-index: 10;
    bottom: 180px;
    right: 0;
    position: fixed;
}

@media screen and (-webkit-min-device-pixel-ratio: 1920px) {
    .content1 {
        background-color: #fff;
    }
    .content2 {
        background-color: #f9939d;
    }
    .content3 {
        background-color: #d5e43f;
    }
    .content4 {
        background-color: #b893f9;
    }
}


.whole_recipe {
    display: block;
    background: url("../image/go_recipe.gif") no-repeat;
    width: 310px;
    height: 91px;
    border-radius: 10px;
    margin: 0 auto;
}

.whole_recipe:hover,
.whole_recipe:focus {
    background: url("../image/go_recipe_over.gif") no-repeat;
    width: 310px;
    height: 91px;
    border-radius: 10px;
}

.button {
    display: block;
    text-align: right;
}

.btn {
    display: block;
    background: url("../image/icon_arrow_down.gif") 0 0 no-repeat;
    background-position: center;
    background-size: auto;
    width: 23px;
    height: 100%;
    margin: 0 25px;
}

.button:hover {
    cursor: pointer;
}

.button:visited {
    background: url("../image/icon_arrow_up.gif") 0 0 no-repeat;
    width: 23px;
    height: 100%;
}
