table, td, th{
    border-collapse: collapse; /*두줄을 한줄로 만들어준다*/
}

table {
    width: 500px;
    table-layout: fixed; /*셀의 간격을 동일하게 만든다. 성능때문에 반드시 필요한 속성이다.*/
    font-size: 13px;
}

.col {
    width: 90px;
}

th{
    font-weight:  normal;
}

th,td {
    border-bottom: 1px solid #e1e1e1;
}

thead th{
    padding: 5px 0;
    border-bottom: 2px solid #000;
}

tbody td{
    height: 40px;
}

.th_view,
.th_rate,
tbody td {
    text-align: right;
}

.th_male,
.th_female {
    background-color: #f8f8f8;
}